version: "3.7"
services:
  server:
    environment: 
      NODE_ENV: production
      KEY: ${KEY}
      CERT: ${CERT}
    ports:
      - "${HTTP_PORT-80}:3080"
      - "${HTTPs_PORT-443}:3443"
    volumes:
      - "${KEY-./.dockerignore}:${KEY-/.dockerignore}"
      - "${CERT-./.gitignore}:${CERT-/.gigignore}"