@use "@material/theme/color-palette";

$primary: color-palette.$blue-200 !default;
$secondary: color-palette.$green-200 !default;
$background: black !default;
$surface: color-palette.$grey-900 !default;
