@use "pages/theme";

@use "@material/theme/theme-color";
@use "@material/typography/mdc-typography";
@use "@material/snackbar/mdc-snackbar";

body {
  margin: 0;
  background: theme.$background;
  color: theme.$on-surface;
}
