@use "pages/variables" as *;

@use "@material/theme" with (
  $primary: $primary,
  $secondary: $secondary,
  $background: $background,
  $surface: $background,
);

@use "@material/typography/mdc-typography";
@use "@material/snackbar/mdc-snackbar";

body {
  margin: 0;
  background: $background;
  color: white;
}
