$primary: #bb86fc;
$secondary: #03dac6;
$background: #121212;

@use "@material/theme" with (
  $primary: $primary,
  $secondary: $secondary,
  $background: $background,
);

@use "@material/snackbar/mdc-snackbar";

body {
  margin: 0;
  background-color: $background;
}
